<!-- Optional alert content -->

{% if false %}
<!-- Caution - use if the club has not closed, but may need to imminently (e.g. due to weather) -->
<p class="callout caution"><strong>June 3rd Weather Closure:</strong> The club will not open tonight due to inclement weather. Hope to see you on the weekend!</p>
{% endif %}

{% if false %}
<!-- Warning - use if the club needs to close (e.g. due to weather) -->
<p class="callout warning"><strong>June 3rd Weather Watch:</strong> We are monitoring the weather at Sharon Creek with respect to the incoming storm. Please check back before heading out in case we need to close.</p>
{% endif %}

{% if false %}
<!-- Info - use for any other notices that should appear on every page (e.g. announcement of opening date) -->
<p class="callout info"><strong>Opening Date Announcement:</strong> We will open for the season this weekend, June 10 and 11, from 10am-4pm! Please ensure that you have received the email letting you know your membership is ready for pickup before coming out, as memberships cannot be processed in person. Hope to see you at Sharon Creek!</p>
{% endif %}

{% if true %}
<!-- Info - use for any other notices that should appear on every page (e.g. announcement of opening date) -->
<p class="callout info"><strong>2024 membership applications are now open!</strong> Stay tuned for information about our opening day. </p>
{% endif %}